*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    color: black;
    justify-content: space-between;
    z-index: 1;
    padding: 1.5rem;
}
.navlinks ul {
    display: flex;
    align-items: center;
   
}
.navlinks ul li a {
    color: black;
    padding: 01rem;
    margin : 0 0.35rem;
    font-size: 150%;
}
.navlinks ul li a::after{
    content: '';
    width: 0%;
    height: 1.5px;background: rgb(29, 29, 29);
    display: block;
    margin: auto;
    transition: 0.3s;

}
.navlinks ul li a:hover::after{
    width: 80%;
}
.logo {
    font-size: 280%;
    font-weight: 500;
}
.top-content{
    margin-left: 8rem;
    font-size: 150%;
    padding-top: 2rem;
}
.animation p span{
    font-size: 10rem;
    color:black;
    font-weight: 700;
    display: inline-block;
    padding: 10rem;

    
    display: none;
}

.animation p span.text-in{
	display: block;
	animation: textIn .5s ease;
}
.animation p span.text-out{
	animation: textOut .5s ease;
}
@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}



